// Specific CSS for your home-page
.list-inline {
  list-style: none;

  li {
    display: inline;
  }
}

.card-language {
  height: 45px;
  width: 45px;
  // border-radius: 50%;
  object-fit: cover;
}
