// Specific CSS for your home-page
.cards-language {
  position: absolute;
  bottom: 5vh;
  margin-top: 40vh;
  padding: 0 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-language {
  margin: 0 16px;
  height: 45px;
  width: 45px;
  // border-radius: 50%;
  object-fit: cover;
}
