<h1>Lessons</h1>

<% @lessons.each do |lesson| %>
  <div class="card">
    <h2><%= lesson.user.first_name %> </h2>
    <p><%= lesson.coding_language %></p>
    <p><%= lesson.description %></p>
    <%= cl_image_tag(lesson.user.photo.key, height: 100, width: 100, crop: :fill, class: "avatar-large") %>
  </div>
<% end %>
