.btn {
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: background 0.3s ease;
  margin-right: 10px;
}

.btn-primary {
  // background-color: #0d6efd;
  // background-color: $primary !important;
  color: black;
  transition: background 0.3s ease;
}

// .btn-primary:hover {
//   background-color: #0b5ed7;
// }

.btn-danger {
  background-color: #dc3545;
  color: #fdfeff;
}

.btn-danger:hover {
  background-color: #bb2d3b;
}

.btn-secondary {
  //background-color: #6c757d;
  background-color: $secondary !important;
  color: #fdfeff;
}

.btn-secondary:hover {
  background-color: #5c636a;
}

.btn-success {
  background-color: #198754;
  color: #fdfeff;
}

.btn-success:hover {
  background-color: #198754;
}

.btn-warning {
  background-color: #ffc107;
  color: black;
}

.btn-warning:hover {
  background-color: #ffca2c;
}

.btn-info {
  background-color: #0dcaf0;
  color: black;
}

.btn-info:hover {
  background-color: #31d2f2;
}

.btn-rounded {
  font-weight: 400;
  font-size: 16px;
  border-radius: 50px;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: background 0.3s ease;
  margin-right: 10px;
  background-color: #FFD24C;
  color: black;
}
