.card-container
{
  display: flex;
  padding: 15px;
  background-color: #D7E4F9;
  height: 250px;
  width: 700px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cc-left {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}
.cc-right {
  background-color: #F6FAFF;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  width: 600px;
}
